<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Frontpage</title>
</head>
<body class="light-blue accent-4">
    <% include ./nav.ejs %>
    <div  style="width:500px;  margin:0 auto; " >
        <h1>Type of account</h1>
        <br/>
        <a href="/teacher"><button class="waves-effect waves-light btn-large red" style="margin:40px"> Teacher</button></a>
        <a href="/student"><button class="waves-effect waves-light btn-large red"> Student</button></a>
    </div>
</body>
</html>