<nav class=" nav-wrapper  grey darken-2">
        <!-- <a href="/"  className="center brand-logo">PROJECT </a> -->

        <ul >
            <li class="right">
                <a href="/" >Home</a>
            </li>
            <li class="center brand-logo">
                    <a href="/" ><h4>PROJECT</h4></a>
                </li>
        </ul>
</nav>
    
    <!-- <div>
            <nav className="nav-wrapper blue">
              <a href="/" className="center brand-logo">PROJECT</a>
              <ul className="right">
                <li><a  href="/" >Home</a></li>
                
              </ul>
            </nav>
          </div> -->